<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs',{title : "inicio" }) %>

<body>
  <%- include('../partials/header.ejs',) %>
  <main class="main_contenido">


      <nav class="nav_principalCursos " style="--bs-breadcrumb-divider: '>';  " aria-label="breadcrumb">
        <ol class="breadcrumb  ">
          <li class="breadcrumb-item  "><a href="/inicio" class="main_principalCursos_a">Mis cursos </a></li>
          <li class="breadcrumb-item  "><a href="/principalCursos" class="main_principalCursos_a">Formate
            2024 </a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#" class="main_principalCursos_b">titulo </a> </li>
        </ol>
      </nav>
     
<section class="section_contenido ">
<article class="section_contenido_article">
  <section class="section_contenido_article-section">
    <div class="section_contenido_div_flecha-left">
      <h3 class="section_contenido_div_titulo-h3"><i class="fa-solid fa-arrow-left" style="color: #0e0e15;  "></i></h3>  
    </div>
    <div class="section_contenido_div_titulo">
      <h3 class="section_contenido_div_titulo-h3">titulo</h3> 
    </div>
    <div class="section_contenido_div_flecha">
      <h3 class="section_contenido_div_titulo-h3"><i class="fa-solid fa-arrow-right" style="color: #0e0e15;  "></i></h3>  
    </div>
  </section>

  <div class="section_contenido_div_descripcion">
    <h2 class="section_contenido_h2">¡Les damos la bienvenida al curso de Programación Web Full Stack!</h2>
    <p class="section_contenido_p">   Los invitamos a sumergirse en este mundo, conocer las tecnologías más novedosas y las herramientas que necesitamos para desarrollar un sitio web de punta a punta. A lo largo de toda la cursada vamos a trabajar en equipo, pensar proyectos, resolver desafíos, investigar y meter mucho las manos en el código.</p>

  </div>

</article>
<article></article>
</section>
  





    </main>
    <%- include('../partials/scripts.ejs') %>

</body>

</html>