<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs',{title : "inicio"}) %>
<body>
    <%- include('../partials/header.ejs',) %>
<main class="main_main">
    <section class="main_section">
    <div class="main_div">
        <p class="main_p">
            En progreso 
         </p>
         <p class="main_p">
             Finalizados
         </p>
    </div>
</section>
<h3>cursos que estas tomando</h3>
<a class="main_a" href="/principalCursos"><%- include('../partials/cursoInCompany.ejs',) %></a>


</main>

</body>
</html>
