<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs',{title : "inicio"}) %>
<body>
    <%- include('../partials/header.ejs',) %>
<main class="main_main">



</main>

</body>
</html>
