<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs',{title : "inicio"}) %>
<body>
    <%- include('./partials/header.ejs',) %>
<main>
    <div>
        <p>
            En progreso 
         </p>
         <p>
             Finalizados
         </p>
    </div>

<article>
<div></div>
<div></div>

</article>
</main>
    
</body>
</html>