


<div class="container-circulo3">
    <div class="circular-progress3">
        <span class="progress-value3"><i class="fa-solid fa-book" style="color: black; font-size: 20px;"></i></span>
    </div>
    
</div>

<script src="./javascripts/circuloContenido.js"></script>




