


<div class="container-circulo2">
    <div class="circular-progress2">
        <span class="progress-value2"><i class="fa-solid fa-book-open-reader" style="color: black; font-size: 20px;"></i></span>
    </div>
    
</div>

<script src="./javascripts/circuloModulo.js"></script>




