

<section class="tabla_curso_section">
    <div class="tabla_curso_div"></div>
<p class="tabla_curso_p">Curso in Company</p>
<h2 class="tabla_curso_h2">Formar 22 -</h2>
<article class="article-circulo">
    <%- include('../partials/cursoInCompany.ejs',) %>
</article>


</section>


